<a href="https://colab.research.google.com/github/ms128822-spence/MIS2800prep2/blob/main/HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (3.0.0)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable==3.10.1 in /usr/local/lib/python3.12/dist-packages (3.10.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [30]:
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [29]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
import sqlite3
print("sqlite imported")

sqlite imported

In [31]:
conn = sqlite3.connect('AdCampaigns2026.db')
print("database created")

database created

In [13]:
%sql sqlite:///AdCampaigns2026.db

In [23]:
%%sql
CREATE TABLE Marketing_Brands (
    brand_id INTEGER PRIMARY KEY,
    brand_name TEXT,
    brand_type TEXT,
    brand_budget INTEGER
  );

 * sqlite:///AdCampaigns2026.db
Done.

[]

In [33]:
%%sql
INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

 * sqlite:///AdCampaigns2026.db
(sqlite3.IntegrityError) UNIQUE constraint failed: Marketing_Brands.brand_id
[SQL: INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [17]:
# -- Instructions: Fix the code to select all the columns
# from the Marketing_Brands table
%%sql
SELECT FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT FROM Marketing_Brands;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
# -- Instructions: Fix the code to display only the brand names and
# brand types that had budget over 700000
%%sql
SELECT FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT FROM Marketing_Brands;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [19]:
%%sql
-- Instructions: Fix the code to find the brand types that are Religious
SELECT FROM Marketing_Brands

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: -- Instructions: Fix the code to find the brand types that are Religious
SELECT FROM Marketing_Brands]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [20]:
# -- Instructions: Fix the code to display the
# brand names that have a budget under 1000000
%%sql
SELECT FROM Marketing_Brands

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT FROM Marketing_Brands]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [22]:
%%sql
SELECT * FROM Marketing_Brands WHERE brand_budget > 7000000

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) no such table: Marketing_Brands
[SQL: SELECT * FROM Marketing_Brands WHERE brand_budget > 7000000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [24]:
%%sql
--Instructions: Find the brands where the brand type is
# Snacks or Beverages.  Display only the brand names.
SELECT * FROM Marketing_Brands

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "# Snacks or Beverages": syntax error
[SQL: --Instructions: Find the brands where the brand type is
# Snacks or Beverages.  Display only the brand names.
SELECT * FROM Marketing_Brands]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [26]:
%%sql
-- Instructions: Sort the table by brand budget in
# DESC order. Display only the brand_name and brand_budget.
SELECT

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "# DESC order": syntax error
[SQL: -- Instructions: Sort the table by brand budget in
# DESC order. Display only the brand_name and brand_budget.
SELECT]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [27]:
%%sql
-- Instructions: Sort the table by brand budget in
# DESC order. Display only the brand_name and brand_budget.
SELECT

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "# DESC order": syntax error
[SQL: -- Instructions: Sort the table by brand budget in
# DESC order. Display only the brand_name and brand_budget.
SELECT]
(Background on this error at: https://sqlalche.me/e/20/e3q8)